* {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}

body {
  width: 80%;
  margin: auto;
}

code {
  background-color: #CCCCCC;
  border: 2px solid #999;
  display: block;
  padding: 20px;
  font-family: 'Source Code Pro', monospace;
}

.monospace {
  font-family: 'Source Code Pro', monospace;
  background-color: #CCCCCC;
}

a {
  text-decoration: none;
  font-weight: bold;
}

header {
  display: flex;
}

section {
  margin: 15px;
  background-color: #E5E5E5;
  border: 5px solid #E5E5E5;
  /* border: none; */
}

button:focus {
  outline:0;
}

ul > li,
ol > li,
.goals {
  margin-bottom: 15px;
  text-align: left;
}

.framing {
  /* border-color: #F7B733; */
  width: 50%;
  margin-bottom: 0;
}

.lesson {
  background-color: white;
  border: none;
}

.try-it {
  /* border-color: #FF4A1B; */
}

.key-point {
  background-color: white;
  border-color: #F7B733;
}

.key-point > p {
  text-align: left;
  margin-left: 10px;
}

.key-point > p > strong {
 font-size: 18px;
}

/* .try-it > nav > h3 {
  color: #FF4A1B;
} */

.content {
  padding-bottom: 10px;
}

.checkpoint {
  /* border-color: #5EC6B7; */
}

.challenge-problems {
  /* border-color: #633295; */
}

.section-heading {
  display: flex;
  justify-content: space-between;
  padding: 0px 15px;
}

.section-heading > button {
  width: 30px;
  border: none;
  background-color: #E5E5E5;
  background-image: url("resources/expand.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.hidden {
  display: none;
}

#cited {
  font-size: 12px;
}

@media only screen and (min-width: 1200px) {
  body {
    width: 1000px;
  }
}

@media only screen and (max-width: 800px) {
  body {
    width: 95%;
  }
  header {
    flex-direction: column;
  }
  .framing {
    width: auto;
  }
}
